body{

background-color: crimson;

}

button{
    font-size: 25px;
    background-color: rgb(0, 0, 0);
    color: yellow;
    padding: 10px;
    border-radius: 100px;
    margin: 10px;
    cursor: pointer;
    
}
button:hover{
    background-color: white;
    color: pink;
}
