<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <title>Apunte</title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('Inicio') }}"><button>Inicio</button></a>
            <a href="{{ url_for('Flask') }}"><button>Flask</button></a>
            <a href="{{ url_for('Git') }}"><button>Git</button></a>
            <a href="{{ url_for('Arduino') }}"><button>Arduino</button></a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>